[submodule "cdsaxs"]
	path = cdsaxs
	url = https://github.com/CEA-MetroCarac/cdsaxs-doc.git
[submodule "images_alignment"]
	path = images_alignment
	url = https://github.com/CEA-MetroCarac/images_alignment-doc.git
[submodule "fitspy"]
	path = fitspy
	url = https://github.com/CEA-MetroCarac/fitspy-doc.git
[submodule "pystack3d"]
	path = pystack3d
	url = https://github.com/CEA-MetroCarac/pystack3d-doc.git
